body {
    
       margin: 0px;
       clear: both;
       padding: 0px;
       font-family: Verdana,Arial,Arial,sans-serif;
}

#spanWidth
{
   width: auto;
   height: 200px;
   background-color: #00ff90;
   margin: 0px;
   position: relative;
   top: 0px;
}

.wrapper
{
    width: 1000px;
    margin: auto;
    clear: both;
    
}

header
{
    
    background-color: #00ff90;
    margin: auto;
    padding: 0px;
    height: 200px;
    width: 1000px;
    
 }

header img 
{
    margin: 0px;
    padding: 0px;
    float: left;
   
}

nav ul
{
    display: inline-block;
    padding: 15px;
    margin-top: 150px;
}

nav ul li
{
    padding: 15px;
    display: inline;
}


section
{
    float: right;
    margin: 0 1.5%;
    width: 70%;
    
}

aside
{
    float: left;
    margin: 0 1.5%;
    width: 20%;
}

footer
{
    background-color: #00ff90;
    clear: both;   
    margin: auto;
    padding: 0px;
    width: 1000px;
    
    
}
.pri-footer
{
    
    width: 1000px;
    clear: both;
    text-align: center;
    margin: auto 0px;
   
}

#gallery a
{
    float: left;
    position: relative;
    border: 1px solid#333;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#gallery a img
{
    display: block;
    cursor: pointer;
}