body {
    
       margin: 0px;
       clear: both;
       padding: 0px;
}

#spanWidth
{
   width: auto;
   height: 200px;
   background-color: #00ff90;
   margin: 0px;
   position: relative;
   top: 0px;
}

.wrapper
{
    width: 1000px;
    margin: auto;
    clear: both;
    
}

header
{
    
    background-color: #00ff90;
    margin: auto;
    padding: 0px;
    height: 200px;
    width: 1000px;
    
 }

header img 
{
    margin: 0px;
    padding: 0px;
    float: left;
   
}

nav ul
{
    display: inline-block;
    padding: 15px;
    margin-top: 150px;
}

nav ul li
{
    padding: 15px;
    display: inline;
}


section
{
    float: right;
    margin: 0 1.5%;
    width: 80%;
    
}

aside
{
    float: left;
    margin: 0 1.5%;
    width: 10%;
}

footer
{
    background-color: #00ff90;
    clear: both;   
    margin: auto;
    padding: 0px;
  
   
    
}

#footerT
{
    background-color: #808080;
}